<!DOCTYPE html>
<html lang="en">
<head>
	<link rel='stylesheet' href='/style.css'>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/script.js"></script>
	<title>MemeTube</title>
</head>
<body>
<h1>MemeTube!!!</h1>

<input type="text" id="newTitle" placeholder="title">
<input type="text" id="newUrl" placeholder="url">
<input type="text" id="newDescription" placeholder="description">
<button id="add-video">Add video</button>

<div class="all-videos">
	
</div>


	
</body>
</html>